@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}  

#home,
#about {
  scroll-margin-top: 50px; /* Adjust this value to your navbar height */
}

#project {
    scroll-margin-top: 80px; 
  }

#contact {
  scroll-margin-top: 110px; /* Adjust this value to your navbar height */
}

/* Start Background Animation */
.root {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgb(218, 218, 218));
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* Ensure background does not block other interactions */
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    background: #9b9a9a; /* Make the particles more visible */
    animation: animate 25s linear infinite;
    bottom: -150px;
    border-radius: 50%; /* Make particles round */
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
    animation-duration: 14s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 5s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
    animation-duration: 21s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 8s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 35s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: .3;
        border-radius: 50%;
    }
}

/* Custom Fade-in Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 2s ease-in-out forwards;
}

